* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: slategray;
}

.accordion-icon {
  line-height: 0pc;
  color: rgba(0,0,0,.25);
  background-color: transparent;
  transition: transform 0.6s ease-in-out;
  float: right;
  border: none;
  outline: none !important;
}

.accordion-icon:hover,
.accordion-icon:focus {
  color: rgba(0,0,0,.35);
}

.accordion-icon:active {
  color: rgba(0,0,0,.4);
}

.rotate {
  transform: rotate(-180deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #666666;
}
.inline-text_copy--active {
  cursor: pointer;
}
.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}
.inline-text_input--active {
  border-bottom: 1px solid #666666;
  text-align: left;
}

/* 
  font-family: 'Kranky', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Open Sans', sans-serif;
*/